<div class="prdel">
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Classes
      </mat-panel-title>
      <mat-panel-description>
        Administration of school classes.
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-admin-classes></app-admin-classes>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Subjects
      </mat-panel-title>
      <mat-panel-description>
        Administration of subjects.
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-admin-subjects></app-admin-subjects>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Credits
      </mat-panel-title>
      <mat-panel-description>
        Administration of credits for particular year-class-subject.
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-admin-credits></app-admin-credits>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Periods
      </mat-panel-title>
      <mat-panel-description>
        Administration of periods for particular year-subject.
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-admin-quarters></app-admin-quarters>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Calendar
      </mat-panel-title>
      <mat-panel-description>
        Administration of important events in calendar.
      </mat-panel-description>
      </mat-expansion-panel-header>
        <app-admin-calendar></app-admin-calendar>
  </mat-expansion-panel>

</mat-accordion>
</div>
