rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /school-classes/{schoolClass} {
    	allow read: if true;
    }
match /users/{user} {
  function getRole(role) {
    return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
  }
 
  allow read;
  allow create: if request.resource.data.roles.keys().hasAny(['admin', 'teacher']) == false;
  allow update: if getRole('admin') == true;
}
 
    match /{collectionName}/{documentId=**} {
      allow read, write: if (collectionName != 'users') && (request.auth != null);
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}